langchain
openai
pypdf
docx2txt
docxtpl
tiktoken
langchain-core
langchain-community
langchain-ollama
fastapi
uvicorn
faiss-cpu
sentence-transformers
python-docx
reportlab
streamlit
python-multipart
python-dotenv
pydantic
Pillow
requests
pypdfium2
